body {
  font-family: "Roboto", sans-serif;
  color: #112742;
}

/* width */
body::-webkit-scrollbar {
  width: 0;
}

.button {
  background: #FFCC00;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(17, 39, 66, 0.3);
          box-shadow: 0px 4px 10px 0px rgba(17, 39, 66, 0.3);
  border: 1px solid #FFCC00;
  font-weight: bold;
  color: #112742;
  cursor: pointer;
  border: 2px solid transparent;
  font-size: 16px;
}

.button_gray {
  background: transparent;
  border: 1px solid #939393;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(17, 39, 66, 0.15);
          box-shadow: 0px 4px 10px 0px rgba(17, 39, 66, 0.15);
  font-size: 16px;
}

input, select {
  border: 1px solid #939393;
  background: #F1F1F1;
  letter-spacing: 1px;
  color: #112742;
  outline: none;
  /* remove focus around input*/
  font-size: 14px;
}
input::-webkit-input-placeholder, select::-webkit-input-placeholder {
  font-size: 14px;
  color: rgba(17, 39, 66, 0.65);
}
input::-moz-placeholder, select::-moz-placeholder {
  font-size: 14px;
  color: rgba(17, 39, 66, 0.65);
}
input:-ms-input-placeholder, select:-ms-input-placeholder {
  font-size: 14px;
  color: rgba(17, 39, 66, 0.65);
}
input::-ms-input-placeholder, select::-ms-input-placeholder {
  font-size: 14px;
  color: rgba(17, 39, 66, 0.65);
}
input::placeholder, select::placeholder {
  font-size: 14px;
  color: rgba(17, 39, 66, 0.65);
}
input:focus, select:focus {
  border-color: #1AC1F5;
}
input:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder {
  color: rgba(17, 39, 66, 0.65);
}
input:focus::-moz-placeholder, select:focus::-moz-placeholder {
  color: rgba(17, 39, 66, 0.65);
}
input:focus:-ms-input-placeholder, select:focus:-ms-input-placeholder {
  color: rgba(17, 39, 66, 0.65);
}
input:focus::-ms-input-placeholder, select:focus::-ms-input-placeholder {
  color: rgba(17, 39, 66, 0.65);
}
input:focus::placeholder, select:focus::placeholder {
  color: rgba(17, 39, 66, 0.65);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.spacing {
  letter-spacing: 0.5px;
}

.bold {
  font-weight: bold;
}

.font_24 {
  font-size: 24px;
}

.red_auto {
  border-color: rgba(229, 40, 40, 0.7);
}

.red {
  color: #E52828;
  font-size: 24px;
}

.red_auto::-webkit-input-placeholder {
  color: #E52828;
  font-size: 14px;
}

.red_auto::-moz-placeholder {
  color: #E52828;
  font-size: 14px;
}

.red_auto:-ms-input-placeholder {
  color: #E52828;
  font-size: 14px;
}

.red_auto::-ms-input-placeholder {
  color: #E52828;
  font-size: 14px;
}

.red_auto::placeholder {
  color: #E52828;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.scroll_none {
  overflow: hidden;
}

.none {
  display: none;
}

.non_acitve {
  color: #6c798a;
}

.border {
  border-radius: 10px;
}

.opacity_none {
  opacity: 0;
}

.grid {
  display: grid;
}

.rotate {
  -webkit-transform: translateY(-5px) rotate(180deg);
          transform: translateY(-5px) rotate(180deg);
}

@media (min-width: 510px) {
  .button:hover, .button_gray:hover {
    border-color: #1AC1F5;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F5F5F5;
}

.wrap {
  margin-top: 100px;
  height: 981px;
  background: #F5F5F5;
  display: grid;
  grid-template-columns: minmax(320px, 1400px);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}
.wrap .text {
  margin: 2% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .text p {
  color: #E52828;
  padding-bottom: 10px;
  font-size: 16px;
  text-align: center;
}
.wrap .text .logo_wrap {
  max-width: 650px;
  height: 200px;
  margin-bottom: 4rem;
}
.wrap .text .logo_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrap .text .spacing {
  margin: 0px 0px 30px 0px;
  text-align: center;
  width: 65%;
  height: 40px;
}

.button {
  padding: 8px 15px;
}

.red_auto {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(229, 40, 40, 0.5);
          box-shadow: 0px 4px 10px 0px rgba(229, 40, 40, 0.5);
  border-color: rgba(229, 40, 40, 0.7);
}

@media (max-width: 1024px) {
  .spacing {
    min-width: 100%;
  }
}/*# sourceMappingURL=index_style.css.map */