body {
  font-family: "Roboto", sans-serif;
  color: #112742;
}

nav .navigation .panel_buttons span, nav .navigation .panel_buttons, nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  display: grid;
  grid-template-columns: repeat(1, minmax(320px, 1500px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  background: #FFCC00;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(17, 39, 66, 0.3);
          box-shadow: 0px 4px 10px 0px rgba(17, 39, 66, 0.3);
  border: 1px solid #FFCC00;
  font-weight: bold;
  color: #112742;
  cursor: pointer;
}

input {
  border: 1px solid #939393;
  background: #F1F1F1;
  outline: none;
  /* delete focus around input*/
}

.spacing {
  letter-spacing: 0.13em;
}

.bold {
  font-weight: bold;
}

.font_14 {
  font-size: 14px;
}

.font_16 {
  font-size: 16px;
}

.font_18 {
  font-size: 18px;
}

.font_20 {
  font-size: 20px;
}

.font_24 {
  font-size: 24px;
}

.font_26 {
  font-size: 26px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.none {
  display: none;
}

.non_acitve {
  color: #6c798a;
}

.border {
  border-radius: 10px;
}

.opacity_none {
  opacity: 0.6;
}

nav {
  width: 100%;
  background: #F5F5F5;
}
nav nav > div {
  border: 1px solid red;
}
nav .navigation {
  height: 130px;
  margin: 0 2% 0 2%;
  border-bottom: 1px solid #939393;
}
nav .navigation .logo_wrap {
  max-width: 18%;
  height: 90%;
}
nav .navigation .logo_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .navigation .toggle_bar {
  width: 50px;
  height: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav .navigation .toggle_bar .toggle_but {
  width: 50px;
  height: 50px;
  position: relative;
}
nav .navigation .toggle_bar .toggle_but span {
  width: 30px;
  height: 5px;
  background: #112742;
  position: absolute;
  -webkit-transform: translate(30%, 400%);
          transform: translate(30%, 400%);
}
nav .navigation .toggle_bar .toggle_but span:after, nav .navigation .toggle_bar .toggle_but span:before {
  content: "";
  width: 30px;
  height: 5px;
  background: #112742;
  position: absolute;
}
nav .navigation .toggle_bar .toggle_but span:after {
  top: 10px;
}
nav .navigation .toggle_bar .toggle_but span:before {
  top: -10px;
}
nav .navigation .toggle_bar .toggle_menu {
  display: none;
}
nav .navigation .panel_buttons {
  width: 80%;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
nav .navigation .panel_buttons span {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
nav .navigation .panel_buttons span > img {
  -o-object-fit: contain;
     object-fit: contain;
}
nav .navigation .panel_buttons .main {
  padding: 5px 10px;
  margin: 0px 1% 0px 0px;
}
nav .navigation .panel_buttons .main img {
  width: 45px;
  height: 38px;
}
nav .navigation .panel_buttons .plus {
  padding: 10px 10px;
  margin: 0px 3.5% 0px 0px;
}
nav .navigation .panel_buttons .plus img {
  width: 25px;
  height: 25px;
}
nav .navigation .panel_buttons .settings {
  padding: 5px 5px;
  margin: 0px 1% 0px 0px;
}
nav .navigation .panel_buttons .settings img {
  width: 36px;
  height: 36px;
}
nav .navigation .panel_buttons .door {
  width: 110px;
  padding: 12px 10px;
}
nav .navigation .panel_buttons .door img {
  width: 23px;
  height: 23px;
}
nav .search {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1% 0 1% 0;
}
nav .search * {
  display: none;
}
nav .search p {
  margin: 2% 0;
}
nav .search input {
  text-align: center;
  width: 75%;
  height: 40px;
  margin: 2% 0;
}
nav .search .button {
  padding: 8px 20px;
  margin: 2% 0;
}

@media (min-width: 1163px) {
  .toggle_bar {
    display: none;
  }
  .toggle_bar div {
    display: none;
  }

  .panel_buttons {
    position: static;
  }

  .logo_wrap {
    margin: 0px 5% 0px 1%;
  }
}
@media (max-width: 1163px) {
  .panel_buttons {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .toggle_bar {
    display: block;
  }
  .toggle_bar div {
    display: block;
  }

  .logo_wrap {
    min-width: 25%;
    margin: 0px 65% 0px 1%;
  }
}
@media (max-width: 850px) {
  .logo_wrap {
    min-width: 35%;
    margin: 0px 53% 0px 1%;
  }
}
@media (min-width: 580px) {
  body {
    background: #EDEDED;
  }
}
@media (max-width: 580px) {
  body {
    background: #112742;
  }

  .logo_wrap {
    min-width: 50%;
    margin: 0px 27% 0px 3%;
  }

  .search p, .search input, .search button {
    display: block;
  }
}/*# sourceMappingURL=navigation.css.map */