@import 'cateh_style';
@import 'navigation';
@import 'modal_window';

// html{
//     margin: 0 auto;
// }
body{ background: $fon_white; } 
.content_wrap{
    @extend %grid;
    text-align: center;

    p.font_24{ padding: 3.5% 0 2% 0; }
}
.content_set{ @extend %flex_column;
    span{        
        display: flex;
        justify-content: center; 
        align-items: center; 
        cursor: pointer;      
    }
    input{
        height: 35px;
        text-align: center;
        box-shadow: 0px 4px 10px 0px rgba($but_shadow, 0.15);
        border-radius: 10px;
        color: $blue;
    }
    label{ letter-spacing: 1px; }               
    .name_organization, .inn_organization{ 
        justify-content: space-between;  
        align-items: center; 
    }
    .img_organization{ border-bottom: 1px solid $gray_border;
        .image{                    
            border: 1px solid $blue;   
            @extend %flex_row;       

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        #input_file{
            overflow: hidden;
            position: absolute;
            opacity: 0;
            width: 10px;
            height: 10px;
        }
        .button_gray{ 
            padding: 6px 20px; 
            cursor: pointer; 
        }
    }
    .adress_organization{
        justify-content: flex-end;
        align-items: center;        
    }
    .save button{
        width: 150px;
        height: 38px;
    }

    .fields_adress, .mobile_fields_adress{
        height: auto;
        padding: 0;          
    }
    .cell{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 2% 0 0;

        input{
            width: 66.5%;
            margin: 13px 2%;
        }
        img{ 
            cursor: pointer; 
            width: 20px; 
            height: 20px;
        }
    }
}

.red_auto{ border-color: rgba($red,0.7); }
.red_auto::placeholder{ color: red; }
.scroll_none{  overflow: hidden; }

// ************* @MEDIA *************

// ********** MEDIA MIN 1163PX *************
@media (min-width: 1163px) {
    
.content_set > div{ width: 45%; }
    .adress_organization{ width: 52%;}
}

// ********** MEDIA MAX 1163PX *************
@media (max-width: 1163px) {
    .content_set > div{  width: 65%; } 
    input{ width: 100%; }   
}
 
// ********** MEDIA MAX 850PX *************
@media (max-width: 850px) {  
    .content_set > div{ width: 80%;}
    .adress_organization{ width: 100%;}
}

// ********** MEDIA MIN 620PX *************
@media (min-width: 620px) {
    .content_set > div{ padding: 1.5% 0%; }
    .name_organization, .inn_organization, .adress_organization{   
        display: flex;
        flex-direction: row;

        label{ 
            padding: 0 0 0 5%; 
            text-align: left;
            width: 25%;
        }
        input{
            width: 75%;            
            margin: 0 0 0 5%;
        }
    }
    .cell{ justify-content: flex-end; }
    .image{
        height: 10rem;
        margin: 0 5% 0 16%;
    }
    .save button{ margin: 0 0 0 70%; }

    .adress_organization{
        label{ margin-right: auto;  }
        input{ 
            width: 70%;
            margin: 0 1% 0 5%;
        }
    }
    .content_set span{ padding:1%; }
    .mobile_fields_adress{ display: none; }
    .fields_adress{  
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
}


// ********** MEDIA MAX 620PX *************
@media (max-width: 620px) {
    .content_set > div{ padding: 2% 0%; }
    .save button{ margin: 0; }
    .name_organization, .inn_organization, .adress_organization{   
        display: flex;
        flex-direction: column;
        align-items: center;

        input{  width: 85%; text-align: center; }
        label{ padding: 2% 0; }
    }
    br{ display: none; }

    .content_set span{
        // width: 15rem;
        padding: 10px 10px;    
        margin: 20px 0 0 0;   
    } 
    .cell{ justify-content: center; }
    .mobile_fields_adress{    
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    
    .fields_adress{ display: none; }
}

// ********** MEDIA MIN 390PX *************
@media (min-width: 390px) {
    .img_organization{
       display: flex;
       flex-direction: row;
       align-items: center;

        .image{ 
            width: 10rem;
            height: 10rem;
            margin: 0 5% 0 5%;
            padding: 2.5%;
        }
    }
 
}


// ********** MEDIA MAX 390PX *************
@media (max-width: 390px) {
    .save button{ margin: 0; }
    .name_organization, .inn_organization, .adress_organization{   
        display: flex;
        flex-direction: column;
        align-items: center;

        input{ margin: 0;  }
        label{ padding: 3.2% 0; }
    }
    .img_organization{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image{      
        height: 8rem;
        margin: 0 0 5% 0;
        width: 200px;
        height: 11rem;
        padding: 2%;
    }
 
}




