@import "cateh_style";

.wrap{
    margin-top: 100px;
    max-width: 1200px;
    height: 700px;
    background: $fon_white;    
    display: grid;
    grid-template-columns: minmax(325px, 1400px);

    .text{
        margin: 10% auto;
        width: 50%;
        height: 50%;        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .logo_wrap{
            max-width: 600px;
            height: 400px;
            background: url("../icon/logo.png");
            // background: $yellow;
            object-fit: contain;
            margin-bottom: 80px;       
        }

        input{
            margin: 0px 0px 28px 0px; 
            text-align: center;
            width: 380px;
            height: 65px;
        }
    
    }
}
