@import "cateh_style";

.wrap{
    display: grid;
    width: 1200px;
    height: 700px;
    background: $fon_white;
    grid-template-columns: minmax(375px, 1400px);
    transform: translate(0, 0);

    .text{
        width: 100%;
        height: 100%;        
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background: pink;


        .logo_wrap{
            background-image: url(".../icon/logo.png");
            object-fit: contain;
            max-width: 100%;            
        }

    }
}
