@import 'cateh_style';
@import 'navigation';
@import 'modal_window';

body{ background: $fon_white; }
.content_wrap > div{ margin: 0 2%;}
.all_opacity{ opacity: 0.7;}
.content_wrap{ @extend %grid;    
    .head_order{ @extend %flex_row;     
        div{ flex: 1 1 5%; }
        .text { 
            text-align: center; 
            padding: 3.5% 4% 2% 4%; 
        }
        .back_button button{
            margin: 0 0 0 30px;
            padding: 6px 15px;
            @extend %flex_row;    
            span{ margin: 0 0.5rem 0 0;}
        }
    }
    .fist_block, .second_block{
        display: flex;
        flex-direction: column;
        align-items: center;
        .item_info{ 
            margin: 0.5rem 0;
            font-size: 16px;
            width: 100%;
            input{ 
                text-align: center;
                height: 40px;
                margin: 5px 0 0 0;
            }
        }
    }
    .content_set .main_fields{ 
        margin: 0.5rem 0;
        padding: 1rem;
        background: $gray_full;
    }
    .content_set{ @extend %flex_column;        
        .main_fields{
            border: 1px solid $gray_border;
            box-shadow: 0px 4px 10px 0px rgba($but_shadow, 0.15);
        }
        .textarea_full{
            width: 100%;
            min-height: 200px;
            resize: none;
            background: #f6f6f6;
            border: 0.5px solid $gray_border;
            padding: 0.5rem;
        }    
        .save, .save button{ 
            display: flex;
            align-items: center;
        }
        .save button{
            padding: 8px 30px;
            flex-direction: row;
            span{ margin: 0 5px 0 0;}
        } 
    }
}
textarea::-webkit-scrollbar { width: 5px;}    
/* Handle */
textarea::-webkit-scrollbar-thumb {
    background: rgba($blue, 0.65);
    border-radius: 10px;
}
textarea::-webkit-scrollbar-track { margin: 8px; }

// ************* @MEDIA *************
// ********** MEDIA MIN 1165PX *************
@media (min-width: 1165px) {    
    .content_set > div{ width: 60%; }
}

// ********** MEDIA MAX 1165PX *************
@media (max-width: 1165px) {
    .content_set > div{ width: 70%; } 
}

// ********** MEDIA MIN 850PX *************
@media (min-width: 850px) {  
    // .fist_block{margin: 0 0 0 50px;}
    input{width: 85%;}
}

// ********** MEDIA MAX 850PX *************
@media (max-width: 850px) {  
    .content_set > div{ width: 90%;}
    .back_button, .empty{ display: none;}
}

// ********** MEDIA MIN 651PX *************
@media (min-width: 651px) {
    .main_info{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .fist_block{margin: 0 0 0 1.5rem;}
    .fist_block, .second_block{
        text-align: left;
        justify-content: center;
        width: 100%;
    }
    input{width: 90%;}
    .save{
        background: none;
        flex-direction: row;
        justify-content: flex-end;
        button{ margin: 1rem 1rem 2rem 1rem; }
    } 
}

// ********** MEDIA MAX 650PX *************
@media (max-width: 650px) {
    .main_info{ 
        display: flex;
        flex-direction: column;
    }
    .fist_block, .second_block{
        text-align: center;
    }
    .item_info input{ width: 85%;}
    .save{
        background: none;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        button{ margin: 1rem 0; }
    } 
}