@import "cateh_style";
@import "navigation";

body{
    background: $fon_table;
}


// *********** CONTENT ****************

.content_wrap{
    width: 100%;
    @extend %grid;
    border-top: 0.5px solid $line;

    div{
        height: 100px;
    }
    .table_sysadmin{
        height: 200px;
    }
}

@media (max-width: 1124px) {
    .panel_buttons > *{
        display: none;
    }
    .toggle_bar{
        display: block;
    }
    .search > *{
        display: block;
    }
}