@import 'cateh_style';
@import 'navigation';

.spacing_special{ letter-spacing: 1px; }
.search{
    @extend %flex_column;
    justify-content: space-evenly;
    margin: 1% 0 1% 0;
    background: $fon_white;

    *{ display: none; }
    p{ margin: 2% 0; }
    input{
        text-align: center;
        width: 75%;
        height: 40px;
        margin: 2% 0;
    }
    .button{
        padding: 10px 25px;
        margin: 3% 0;
    }
}

// *********** CONTENT ****************
.table_sysadmin{ margin: 0 2%;}
.content_wrap{
    border-top: 1px solid $gray_border;
    padding-top: 180px;
    width: 100%;
    @extend %grid;

    //HEAD TABLE
    .head_table{ 
        background: $fon_table;
        width: 100%;
        position: fixed;
        height: 5rem;
        border-bottom: 1px solid $blue;
        .head_name{     
            height: 100%;
            @extend %flex_row;       
            p{ 
                flex:1; 
                text-align: center; 
            }
            span > img{ 
                transform: translateY(3px);
                object-fit: contain;
            }
        }
    }

    // TABLE WITH INFO
    .table_sysadmin{
        @extend %flex_column;
        .item_table{
            width: 100%;
            height: auto;
            @extend %flex_row;
            margin: 20px 0 0 0;   
            .item_info > * {
                flex:1;
                text-align: center;
            }
            .item_info{ box-shadow: 0px 4px 10px 0px rgba($but_shadow, 0.15);
                .main_fio{ text-align: center;}               
            }
            .click{ 
                padding:18px 12px;
                font-weight: initial;  
                color: rgba($blue, 0.7);
                letter-spacing: 0.5px;
            }
            .click:hover{ color: $blue; }
        }
        .item_table:last-child{ margin: 20px 0; }        
    }
}
.ask_des_arrow{ cursor: pointer; }
// ************* @MEDIA *************

// ********** MEDIA MIN 1163PX *************
@media (min-width: 1163px) {
    .item_table, .head_name{ font-size: 18px; }
    .item_table button{ display: block; margin-left: 2rem; }
    .item_info{ width: 100%; }
    .head_name{ 
        width: 88%;
        padding:0 10% 0 0;
    }
    .item_info{  width: 100%; padding: 1.5%;}
    .items{  padding: 2% 0; }
}

// ********** MEDIA MAX 1163PX *************
@media (max-width: 1163px) {
    .head_name{ 
        width: 84%;
        padding: 0 3%;
    }
    .items{  width: 65%; }
    .item_table button{margin-left: 40px; }
    .item_info{ width: 100%; padding: 2%;}
}

// ********** MEDIA 850PX *************
@media (max-width: 850px) {  
    .head_table{
        font-size: 14px;
        justify-content: center;
    }  
    .item_table button{ display: none; }
    .item_table{ width: 100%;  }
    .item_info{  width: 50rem; padding: 2%;}
    .head_name{  width: 100%;  }
}

// ********** MEDIA MIN 580PX *************
@media (min-width: 580px) {
    .item_info{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .head_table{
        display: grid;
        grid-template-columns: repeat(1, minmax(320px, 1500px));
        justify-content: center;
        .head_name{ padding: 0 50px; }
    }    
    .table_sysadmin{ padding: 5rem 10px 0 10px; }
    .mobile_version{ display: none; }
}

// ********** MEDIA MAX 580PX *************
@media (max-width: 580px) {
    .content_wrap{ height: 35rem; }
    .item_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3%;
    }
    .mobile_none{ display: none; }
    .mobile_version{
        display: flex;
        flex-direction: row;  
        justify-content: space-around;   

        .mobile_title{
            color: rgba($blue, 0.85);
            flex-basis: 60%;
            p{ padding: 4% 0 0 3%;}            
        }
        .mobile_info{ flex-basis: 40%;
            .complete_order, .current_order{ margin: 5% 0 3% 30%; }
        }
    }
    .mobile_version > div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 2% 0;
        font-size: 15px;
    }
    .main_fio{
        justify-self: center;
        font-weight: bold;
        padding: 2% 0 0 0;
        font-size: 16px;
    }
    .table_sysadmin{ padding: 35% 10px 0 10px; }
    .head_table{ display: none; }
}

// ********** MEDIA MAX 410PX *************
@media (max-width: 410px) {
    .table_sysadmin{ padding: 40% 10px 0 10px; }
}


