@import 'cateh_style';
@import 'navigation';

// for content use "::webkit-scrollbar" or just make the navigation panel "position: fixed;"

// *********** CONTENT ****************
.content_wrap{
    width: 100%;
    @extend %grid;
    border-top: 0.5px solid $line;

    div{
        height: 100px;
    }
    .table_sysadmin{
        height: 200px;
    }
}

