@import "cateh_style";

nav{
    width: 100%;
    @extend %grid;
    background: $fon_white;

    nav > div{ border: 1px solid red; }
   
    .navigation{
        @extend %flex_row;
        height: 130px;
        margin: 0 2% 0 2%;
        border-bottom: 1px solid $gray_border;

        // LOGO
        .logo{ height: 50%; }

        // TOGGLE BUTTON AND MENU
        .toggle_menu_fon{
            left: -10px;
            position: absolute;
            

            .toggle_menu{
                display: flex;
                align-items: center;
                // overflow: scroll;
            }
        }

        // TOGGLE BUTTON
        .toggle_bar{         
            justify-content: flex-end;
            margin-left: auto;

            .toggle_but{
                width: 50px;
                height: 50px;
                position: relative;
                transition: all .5s ease-in;
                text-align: center;             

                span{
                    width: 30px;
                    height: 5px;
                    background: $blue;
                    position: absolute;
                    transform: translate(30%, 400%);
                }
                span::after, span::before{
                    content: "";
                    width: 30px;
                    height: 5px;
                    background: $blue;
                    position: absolute;
                }
                span::after{
                   transform: translateY(11px);
                }
                span::before{
                    transform: translateY(-11px);
                }
               
            }  
            .toggle_but.close span{
                background: transparent;
            }   
            .toggle_but.close span::after{
                transform: rotate(45deg);
            }
            .toggle_but.close span::before{
                transform: rotate(-45deg);
            }      
            
        }

        // PANEL BUTTONS
        .panel_buttons{
            width: 80%;
            height: 90px;
            @extend %flex_row;
            justify-content:flex-end;
        }  
        span{         
            @extend %flex_row;  
            justify-content: space-around;     

            img{ object-fit: contain; }
        }

        // SIZES FOR ALL BUTTONS
        .main{
            padding: 5px 10px;
            margin: 0px 1% 0px 0px;

            img{
                width: 45px;
                height: 38px;
            }
            }
        .plus{
            padding: 10px 10px;
            margin: 0px 3.5% 0px 0px;
            img{
                width: 25px;
                height: 25px;
            }
        }
        .settings{
            padding: 5px 5px;
            margin: 0px 1% 0px 0px;

            img{
                width: 36px;
                height: 36px;
            }
        }
        .door{
            width: 110px;
            padding: 12px 10px;

            img{
                width: 23px;
                height: 23px;
            }
        }
                
    }    
}  

// ************* @MEDIA *************

// ********** MEDIA MIN 1163PX *************
@media (min-width: 1163px) {
    .toggle_bar{ display: none;

        div{ display: none; }
    }
    .toggle_menu_fon{
        display: none;
    }
    .toggle_menu{
        display: none;
    }
    .panel_buttons{ position: static; }
}


// ********** MEDIA MAX 1163PX *************
@media (max-width: 1163px) {
    .panel_buttons{
        display: none;
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .toggle_bar{ display: block;

        div{ display: block; }
    }
    .toggle_menu_fon{        // GRID  show buttons    
        height: 150%;        
        top: 145px;
        justify-content: center;     
        grid-template-columns: repeat(1, minmax(830px, 1163px));    
    } 
    
}
 
// ********** MEDIA 850PX *************
@media (max-width: 850px) {    
    .toggle_menu_fon{
        height: 150%;   
        top: 100px;
        justify-content: flex-end;        
        grid-template-columns: repeat(1, minmax(570px, 850px));   

        .toggle_menu{ display: flex; } 
    }
}

// ********** MEDIA MIN 580PX *************
@media (min-width: 580px) {
    body{ background: $fon_table; }
    
    .toggle_menu_fon{ background: rgba($blue, 0.8);
        
        .toggle_menu{
            margin: 30px auto;
            min-height: 60px;
            max-height: 150px;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 95%;
            background: rgba($fon_white, 1);
        }
    }
}

// ********** MEDIA MAX 580PX *************
@media (max-width: 580px) {
    .navigation{
        height: 50px;
    }
    body{ background: $blue; }
    .content_wrap::-webkit-scrollbar{  overflow: hidden; }
  
    .search p, .search input, .search button{
        display: block;
    }    
    .toggle_menu_fon{
        min-height: 58.1rem;    
        top: 140px; 
        justify-content: center;        
        grid-template-columns: repeat(1, minmax(320px, 580px));  

        .toggle_menu{
            padding: 50px 0 350px 0; 
            min-height: 80%;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            background: $fon_white;

            span{
                min-width: 300px;
                height: 45px;
                margin: 0 0 0 10px;

                img{  display: none;   }
                .icon_none{ display: block; }
            }
            
        }  
    }
}
