@import 'cateh_style';
@import 'navigation';
@import 'modal_window';

body{ background: $fon_white; }
.content_wrap > div{ margin: 0 2% 0 2%; }
.content_wrap{ @extend %grid;
    .text { 
        text-align: center; 
        padding: 3.5% 4% 2% 4%; 
    }
    .head_order{ @extend %flex_row;     
        div{ 
            min-width: 5rem; 
            flex: 1 1 5%; 
        }
    }
    .back_button button{
        margin: 0 0 0 30px;
        padding: 6px 15px;
        @extend %flex_row;        
        span{ margin: 0 0.5rem 0 0;}
    }
    .content_set > div{ 
        margin: 1.5% 0;
        padding: 1.5% 1.5%;
        background: $gray_full;
    }
    .content_set{ @extend %flex_column;
        .textarea_full{
            min-height: 150px;
            background: #fcf8f8;
            border: 0.5px solid $gray_border;
        }
        .save{
            @extend %flex_row;
            justify-content: flex-end;
            button{
                padding: 6px 10px;
                margin: 1rem;
                @extend %flex_row;
            }
        } 
    }
    
}


















// ************* @MEDIA *************

// ********** MEDIA MIN 1163PX *************
@media (min-width: 1163px) {    
    .content_set > div{ width: 45%; }
    .main_fields{ width: 52%;}
}

// ********** MEDIA MAX 1163PX *************
@media (max-width: 1163px) {
    .content_set > div{  width: 55%; } 

}
// ********** MEDIA MAX 850PX *************
@media (max-width: 850px) {  
    .content_set > div{ width: 90%;}
    .main_fields{ width: 100%;}
    // .back_button button{ display: none;}
}

// ********** MEDIA MIN 541PX *************
@media (min-width: 541px) {

}

// ********** MEDIA MAX 540PX *************
@media (max-width: 540px) {
    
}
// ********** MEDIA MAX 390PX *************
@media (max-width: 390px) {
    
}
