@import 'cateh_style';
@import 'navigation';
@import 'modal_window';

body{ background: $fon_white; }
.content_wrap > div{ margin: 0 2%; }
.content_wrap{ @extend %grid;    
    .head_order{ @extend %flex_row;     
        div{ flex: 1 1 5%; }

        .text { 
            text-align: center; 
            padding: 3.5% 4% 2% 4%; 
        }
        .back_button button{
            margin: 0 0 0 30px;
            padding: 6px 15px;
            @extend %flex_row;        
            span{ margin: 0 0.5rem 0 0;}
        }
    }
    .fist_block, .second_block{
        display: flex;
        flex-direction: column;
        .item_info{ 
            margin: 0.5rem 0;
            font-size: 16px;
        }
    }
    .opacity{ color: $green;}

    .content_set .main_fields{ 
        margin: 0.5rem 0;
        padding: 1rem;
        background: $gray_full;
    }
    .content_set{ @extend %flex_column;        
        .main_fields{
            border: 1px solid $gray_border;
            box-shadow: 0px 4px 10px 0px rgba($but_shadow, 0.15);
        }
        .textarea_full, .comments{
            min-height: 200px;
            resize: none;
            background: #f6f6f6;
            border: 0.5px solid $gray_border;
            padding: 0.5rem;
        }
        .textarea_full{ width: 100%; }       
        .date_end{
            display: flex;
            align-items: center;
            .opacity{ margin-top: 0.3rem;}
        }
        .save, .save button{ 
            display: flex;
            align-items: center;
        }
        .save button{
            padding: 6px 10px;
            flex-direction: row;
        } 
    }
}

// ************* @MEDIA *************
// ********** MEDIA MIN 1165PX *************
@media (min-width: 1165px) {    
    .content_set > div{ width: 60%; }
}

// ********** MEDIA MAX 1165PX *************
@media (max-width: 1165px) {
    .content_set > div{ width: 70%; } 
}

// ********** MEDIA MAX 850PX *************
@media (max-width: 850px) {  
    .content_set > div{ width: 90%;}
    .back_button, .empty{ display: none;}
}

// ********** MEDIA MAX 621px *************
@media (min-width: 621px) {  
    .date_end{ flex-direction: row;
        span{ 
            margin: 0.5rem 0 0 0;
            text-align: center;
        }
    }
    .comments{ 
        width: 85%; 
        margin: 0 10px 0 0;
    }
}
// ********** MEDIA MIN 620px *************
@media (max-width: 620px) {  
    .date_end{ flex-direction: column;
        span{ 
            margin: 1rem 0 0.3rem 0;
            text-align: center;
        }
    }
    .comments{ width: 100%; }
}

// ********** MEDIA MIN 551PX *************
@media (min-width: 551px) {
    .main_info{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .fist_block, .second_block{
        align-items: flex-start;
        text-align: left;
        .opacity{ padding: 0.5rem 0 0 1.5rem;}
    }
    .save{
        background: none;
        flex-direction: row;
        justify-content: flex-end;
        button{ margin: 1rem 1rem 2rem 1rem; }
    } 
}

// ********** MEDIA MAX 550PX *************
@media (max-width: 550px) {
    .main_info{ 
        display: flex;
        flex-direction: column;
    }
    .fist_block, .second_block{
        align-items: center;
        text-align: center;
        .opacity{ padding: 0.3rem 0 0 0;}
    }
    .save{
        background: none;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        button{ margin: 1rem 0; }
    } 
}