@import 'cateh_style';
@import 'navigation';

.header{
    .profile {
        padding: 3.5% 2% 2% 2%;
        border: 1px solid orange;
        display: grid;    
        grid-gap: 10px;
        background: $fon_white;

        div{ border:1px solid violet;}
        
    }
    
    .image{ grid-area: 'item1';
        .logo_organization{
            border: 1px solid $blue;
            width: 20%;
            height: 20%;

            img{  }
        }
    }
    .text{ grid-area: 'item2';}
    .buttons{ grid-area: 'item3';}
}




.content_wrap{
    width: 100%;
    @extend %grid;
    border-bottom: 0.5px solid $line;

    
    
}

// *********** CONTENT ****************

// ************* @MEDIA *************

// ********** MEDIA MIN 1163PX *************
@media (min-width: 1163px) {
    
}

// ********** MEDIA MAX 1163PX *************
@media (max-width: 1163px) {
    
}

// ********** MEDIA 850PX *************
@media (max-width: 850px) {  

}

// ********** MEDIA MIN 580PX *************
@media (min-width: 580px) {
    .profile{ 
        grid-template-areas: 'item1 item2 item3';
    }
}

// ********** MEDIA MAX 580PX *************
@media (max-width: 580px) {
    .profile{
        grid-template-areas: 'item1' 'item3' 'item2';
    }
}

// ********** MEDIA MAX 410PX *************
@media (max-width: 410px) {

}

