@import 'cateh_style';
@import 'navigation';

body{ background: $fon_white; } 

.content_wrap{
    @extend %grid;
    text-align: center;

    p{ padding: 2% 0%; }
}
.content_set > div{ width: 45%; }
.content_set{ @extend %flex_column;

    .name_organization{ justify-content: space-between;
        label{ text-align: left; }
        input{           
            height: 35px;
            text-align: center;
            box-shadow: 0px 4px 10px 0px rgba($but_shadow, 0.15);
        }        
    }

    .img_organization >div{ @extend %flex_row;}
    .img_organization{ 
        border-bottom: 1px solid $gray_border;

        .image{                    
            border: 1px solid $blue;   
                   

            img{
                width: 100%;
                object-fit: contain;
            }
        }   
        .button_gray{ padding: 6px 20px; }     
    }


    .save button{
        width: 150px;
        height: 38px;
    }
}

// ************* @MEDIA *************
// ********** MEDIA MAX 1163PX *************
@media (max-width: 1163px) {
    .content_set > div{  width: 65%; } 
    input{ width: 150%; }   
}
 
// ********** MEDIA 850PX *************
@media (max-width: 850px) {  
    .content_set > div{ width: 80%;}
}

// ********** MEDIA MIN 510PX *************
@media (min-width: 510px) {
    .img_organization{
        display: flex;
        flex-direction: row;
        align-items: center;
 
        .image{ 
            width: 9.5rem;
            height: 9.5rem;
            margin: 0 5% 0 5%;
            padding: 1.5%;
        }
    }
    .img_buttons{ justify-content: space-around; 
        #delete_img{ margin: 0 0 0 5%; }
    }
}


// ********** MEDIA MAX 510PX *************
@media (max-width: 510px) {
    .img_organization{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image{      
        height: 8rem;
        margin: 0 0 5% 0;
        width: 200px;
        height: 11rem;
        padding: 2%;
    }
    .img_buttons{ justify-content: center; 
        #delete_img{ margin:0 0 0 5% ;}
    }
}


// ********** MEDIA MIN 620PX *************
@media (min-width: 620px) {
    .content_set > div{ padding: 1.5% 0%; }
    .name_organization{   
        display: flex;
        flex-direction: row;

        label{ padding: 0 0 0 5%;}

        input{
            width: 400px;            
            margin: 0 10% 0 5%;
        }
    }
    .image{
        height: 10rem;
        margin: 0 5% 0 16%;
    }

    .save button{ margin: 0 0 0 70%; }
}

// ********** MEDIA MAX 620PX *************
@media (max-width: 620px) {
    .content_set > div{ padding: 2% 0%; }
    .save button{ margin: 0; }
    .name_organization{   
        display: flex;
        flex-direction: column;
        align-items: center;

        input{
            width: 75%;
            margin: 0;
        }
        label{ padding: 2% 0; }
    }
    br{ display: none; }
 
}


// ********** MEDIA MAX 390PX *************
@media (max-width: 390px) {
    .content_set > div{ padding: 7% 0%;}
    .save button{ margin: 0; }
    .name_organization{   
        display: flex;
        flex-direction: column;
        align-items: center;

        input{
            width: 100%;
            margin: 0;
        }
        label{ padding: 2% 0; }
    }
   .img_buttons{    
        flex-wrap: wrap;       
        #delete_img{ margin: 5%;}
    }
 
}




