@use '../../../../includes/dasha/v1/modal_windows/modal_window.scss';
@use "../../../../includes/dasha/v1/additional_styles/cateh_style.scss" as *;
@use '../../../../includes/dasha/v1/navigation/navigation.scss' as *;

body{ background: $fon_white; } 
.content_wrap{
    width: 100%;
    @extend %grid;
    text-align: center;

    p.font_22{ padding: 1rem 4% 0.5rem 4%; }
}
.content_set{ @extend %flex_column;
    span{        
        display: flex;
        justify-content: center; 
        align-items: center; 
        cursor: pointer;      
    }
    input{
        height: 40px;
        text-align: center;
        box-shadow: 0px 4px 10px 0px rgba($but_shadow, 0.15);
        border-radius: 10px;        
    }
    label, button{ letter-spacing: 1px; color: $blue;}               
    .name_organization, .inn_organization{ 
        display: flex;
        justify-content: space-between;  
        align-items: center; 
    }
    .adress_organization, .item_address{
        display: flex;       
        justify-content: flex-end;
        align-items: center; 
        input{ margin: 0 0.7rem 0 0;  }
    }
    #add_address{ padding:0.4rem; }
    .img_organization{ 
        border-bottom: 1px solid $gray_border;           
        display: flex;
        align-items: center;     
        .img_buttons, .image{  @extend %flex_row; }
        .image{                    
            border: 0.5px solid $blue;
            width: 11rem;
            height: 11rem;   
            padding: 0.5rem;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        #input_file{
            overflow: hidden;
            position: absolute;
            opacity: 0;
            width: 10px;
            height: 10px;
        }
        .button_gray{ 
            padding: 6px 20px; 
            cursor: pointer; 
        }
    }
    .save button{
        width: 150px;
        height: 38px;
    }
    .mobile_fields_address{ width: 100%; }
    .fields_address, .mobile_fields_address{
        height: auto;
        padding: 0;          
    }
    .cell{
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        img{ 
            cursor: pointer; 
            width: 20px; 
            height: 20px;
            margin: 0 10px 0 20px;
        }
    }
}

// ************* @MEDIA *************

// ********** MEDIA MIN 1163PX *************
@media (min-width: 1163px) {    
.content_set > div{ width: 45%; }
}

// ********** MEDIA MAX 1163PX *************
@media (max-width: 1163px) {
    .content_set > div{  width: 55%; } 
    input{ width: 100%; }   
}

// ********** MEDIA MAX 850PX *************
@media (max-width: 850px) {  
    .content_set > div{ width: 90%;}
}

// ********** MEDIA MIN 541PX *************
@media (min-width: 541px) {
    .content_set > div{ padding: 1.5% 0%; }
    .name_organization, .inn_organization {
        display: flex;
        flex-direction: row;
    }
    .item_address{ width: 75%;
        input{width: 100%;}
    }
    .adress_organization label{text-align: left; width: 25%;}
    .name_organization, .inn_organization{ flex-direction: row;      
        label{ 
            text-align: left;
            width: 25%;
        }
        input{ width: 75%; }
    }
    .cell{ justify-content: flex-end; }
    .image{ margin: 0 5% 0 0; }
    .save button{ margin: 0 0 0 70%; }

    .mobile_fields_address{ display: none; }
    .fields_address{  
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .cell input{ width: 67%;}
    .img_buttons{ 
        justify-content: space-around;    
        button{ padding: 7px 20px; }
        #delete_organ{ margin: 0 0 0 5%; }       
    }
}

// ********** MEDIA MAX 541PX *************
@media (max-width: 541px) {
    .content_set > div{ padding: 2% 0%; }
    .save{ 
        margin: 1rem 0 2rem 0;
        button{ margin: 0; }
    }
    .image{ margin: 0 0 5% 0; }
    .item_address{ width: 95%;}
    .name_organization, .inn_organization, .adress_organization{  
        display: flex; 
        flex-direction: column;
        align-items: center;

        input{ width: 95%; text-align: center; }
        label{ padding: 2% 0; }
        br{ display: none; }
    }
    .content_set span{ padding: 10px 10px; } 
    .cell{ justify-content: center;  padding: 1rem 1rem 0 0;}
    .mobile_fields_address{    
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    
    .fields_address{ display: none; }
    .cell input{ 
        width: 80%;
        margin: 13px 2%;
    }
    .img_organization{         
        flex-direction: column;
        align-items: center;

        .img_buttons{ 
            justify-content: center; 
            margin: 0.5rem 0 1rem 0;

            #delete_organ{ margin: 0 0 0 5%; }
            button, label{ padding: 8px 25px; }
        }        
    }
    .image{margin: 0 0 5% 0;}    
}

// ********** MEDIA MAX 540PX *************
@media (max-width: 540px) {
    .name_organization, .inn_organization, .adress_organization{   
        display: flex;
        flex-direction: column;
        align-items: center;
        label{ padding: 3.2% 0; }
    } 
    .cell input{
        width: 85%;
        margin: 0 3rem 0 0;
    }
}
