@use '../scss/cateh_style' as *;
@import '../scss/navigation';

body{ background: $fon_table;
    overflow: none;
}
// body::-webkit-scrollbar { overflow: none;}

.content{  @extend %grid; }
.header{
    width: 100%;
    text-align: center;
    // position: fixed;
    height: 200px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, minmax(320px, 1500px));
    background: $fon_white;
}
.content{
    padding-top: 200px;
    .section1{
        text-align: center;
        width: 100%;
        // position: fixed;
        background:red;
        height: 100px;
    }
    .section2{
        height: 95vh;
        background:violet;
        overflow-y: scroll;
    }
}

.section2::-webkit-scrollbar-thumb{
    width: 20px;
    background: green;
}
.section2::-webkit-scrollbar-thumb{
    width: 10px;
    background: yellow;
}

.profile, .links{
    margin: 2rem 0;
    height: auto;
    background:orange;
    display: grid;    
    grid-gap: 10px;
}

